.side-box {
  position: fixed;
  height: 100vh;
}

.head {
  color: white;
  font-size: 4em;
  text-align: center;
  font-family: "parryhotter";
}

.tabs {
  margin: 0;
}

.tab-box {
  padding: 0 !important;
}

.tabs a {
  color: white !important;
}

.charecters,
.houses,
.spells {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.char-card {
  width: 40%;
  margin: 10px 2.5%;
}
.char-card .card-title {
  font-size: 2em;
}
.house-card {
  width: 40%;
  margin: 10px 2.5%;
}
.house-card .card-title {
  font-size: 2em;
  font-weight: 500;
  top: 0;
}
.house-card .card-image {
  width: 100%;
}
.spell-card {
  width: 40%;
  margin: 10px 2.5%;
}
.spell-card .card-title {
  font-size: 2em;
}

.input-box {
  padding: 20px 20px 10px 20px !important;
  overflow-y: auto;
  margin: 20px 0;
}

@font-face {
  font-family: "parryhotter";
  src: url("ParryHotter.ttf");
}

@media only screen and (max-width: 700px) {
  .side-box {
    position: unset;
  }
}
